{% extends 'header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body>
    <br><br>
    <div class="main-contact">
        <div class="head-contact">
            <div style="font-size: 40px; font-weight: bolder; font-style: italic;">Contact Us</div>
            <div style="font-size: 20px; font-weight: bolder; font-style: italic; text-align: center;">Get In Touch And Let Us Know How We Can Help</div>
        </div>
        {% if msg %}
            
            <b style="color:blue;">{{msg}}</b>

        {% endif %}
        <div class="content-contact">
            <div class="form-contact">
                <form  method="post" action="{% url 'contact' %}">
                    {% csrf_token %}
                        
                    <div class="group">      
                    <input type="text" name="fullname" pattern="^[a-zA-Z ]+$" required>
                    <span class="highlight"></span>
                    <span class="bar1"></span>
                    <label>Name</label>
                    </div>

                    <div class="group">      
                    <input name="phone" type="tel" maxlength="10" required>
                    <span class="highlight"></span>
                    <span class="bar1"></span>
                    <label>Phone</label>
                    </div>
                    
                    <div class="group">      
                    <input type="email" name="email" required>
                    <span class="highlight"></span>
                    <span class="bar1"></span>
                    <label>Email</label>
                    </div>
                    
                    <div class="group">      
                    <input type="text" name="message" required>
                    <span class="highlight"></span>
                    <span class="bar1"></span>
                    <label>Message</label>
                    </div>
                    
                    <div style="display: flex;justify-content: center;">      
                        <button class="submit_button" type="submit">SUBMIT</button>
                    </div>
                    
                </form>
            </div>
            <div class="images-contact">
                <img src="{% static 'images/contact-1.jpg' %}" alt="" id="contact-img-1">
                <img src="{% static 'images/contact-2.jpg' %}" alt="" id="contact-img-2">
            </div> 
        </div>
    </div>
    <br><br>
</body>
<script type="text/javascript">
if(window.history.replaceState){
    window.history.replaceState(null,null,window.location.href);
}
</script>
</html>
{% endblock %}